:root {

/* 🔴🟢🔵 colors 🔴🟢🔵 */
  --main-color: #06c;
  --accent-color: #006;

  --dark-color: #282829;
  --darker-color: #172328;
  --light-color: #FFFFFF;

/* 🅰🔠🅱 Fonts 🅰🔠🅱 */
  --font-family: Tahoma, sans-serif;
  --font-size-md: 1.5rem;
  --font-weight-bold: bold;

/* 📦 ⬅️➡️  Sizes (widths, hights etc...) ⬆️⬇️ 📦 */
  --navbar-top-height: 2.5rem;
  --button-1-height: 2rem;

/* _-_-_ Spaces (margin, padding etc...) _-_-_ */
  --space-md: 0.5rem;
  --space-md-half: calc(var(--space-md)/2);


/* ----- */

/* 🧪🥽🔬 Testing Zone (wire-framing, experimenting, etc...) 🧪🥽🔬 */
  --bg-faint-white: rgba(255,255,255,0.2);
  --bg-faint-black: rgba(0,0,0,0.2);

  --bg-faint-red: rgba(100,0,0,0.2);
  --bg-faint-green: rgba(0,200,0,0.2);
  --bg-faint-blue: rgba(0,0,100,0.2);

}
