#tripSet_container {
  background-color: var(--bg-faint-green);
  margin: var(--space-md);
  overflow: auto;
}

.listing {
  /* display: flex; */
  width: 400px;
  background-color: var(--bg-faint-green);
  margin: var(--space-md);
  padding: var(--space-md);
}

.app-h3 {
  background-color: var(--bg-faint-black);
  margin: 0;
  padding: var(--space-md);
  margin: var(--space-md-half);
  /* align-self: flex-start; */
}

.app-h3.name {
  text-align: center;
}

.listing-img-container {
  /* height: auto; */
  /* margin-left: auto; */
  display: flex;
  justify-content: center;
  background-color: var(--bg-faint-green);
  margin: var(--space-md-half);

}
