#tripSet_container {
  background-color: var(--bg-faint-green);
  max-width: var(--content-max-width-LG);
  margin: auto;
  display: flex;
}

.row {
  background-color: var(--bg-faint-green);
  padding: var(--space-md)
}

.col {
  background-color: var(--bg-faint-green);
  padding: 0; /* 🚨 This needs to stay at or under the MAX WIDTH for JS MATHs! */
  margin: 0;  /* 🚨 This needs to stay at or under the MAX WIDTH for JS MATHs! */
  width: var(--col-width);
  flex: 1;
}

.listing {
  background-color: var(--bg-faint-green);
  margin: var(--space-md);
  padding: var(--space-md);
}

.app-h3 {
  background-color: var(--bg-faint-black);
  padding: var(--space-md);
  margin: 0;
  margin-bottom: var(--space-md-half);
}

.app-h3.name {
  text-align: center;
}

.app-h3.name.sm {
  font-size: var(--font-size-sm);
  line-height: var(--font-size-md);
  text-align: center;
}

.app-h3.date {
  margin-bottom: 0;
}

.listing-img-container {
  background-color: var(--bg-faint-green);
  margin-bottom: var(--space-md-half);
  display: flex;
  justify-content: center;
}

.listing-img {
  width: 100%;
}
